/***** Main CSS *****/

body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
a {
  color: #000;
  transition: all .2s;
}
a:hover {
  text-decoration: none !important;
  transition: all .2s;
}
hr {
  border-color: #000 !important;
}
hr.line {
  display: none !important;
}
label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
  clear: both;
}
.optionalLabel {
  text-transform: none;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0;
}
input {
  box-sizing: border-box;
}
input:not([type='button']), input:not([type='submit']), input:not([type='radio']), input:not([type='checkbox']), input:not([type='file']), input:not([type='hidden']), input:not([type='image']) {
  padding: 5px;
  font-size: 15px;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}
textarea {
  padding: 5px;
  font-size: 15px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}
input:not([type='button']):focus, input:not([type='submit']):focus, input:not([type='radio']):focus, input:not([type='checkbox']):focus, input:not([type='file']):focus, input:not([type='hidden']):focus, input:not([type='image']):focus {
  border: 1px solid #000;
  outline: none !important;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .4);
}
input[type='radio'], input[type='checkbox'] {
  background-color: initial;
  cursor: default;
  appearance: radio;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
  height: auto;
}
input[type='checkbox'] {
  appearance: checkbox;
}
select {
  padding: 5px;
  font-size: 15px;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
}
input[type='submit'], .button {
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 5px 15px;
  font-size: 12px !important;
  border: none;
  background: #000;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s;
}
input[type='submit']:hover, .button:hover {
  background: #777;
  color: #fff !important;
  transition: all .2s;
}
table {
  border: none !important;
  width: 100%;
}
th {
  border-bottom: 1px solid #000;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  text-align: left;
  padding: 0;
}
h2 {
  margin-top: 0;
}
td[bgcolor="#f7f7f7"] {
  padding: 10px;
}
[bgcolor="#4959A7"], [bgcolor="#4279bd"] {
  background: #000 !important;
  padding: 10px;
}
font[color="#4279bd"] {
  color: #000 !important;
}
form h5 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 14px;
}
.breadcrumbWrap {
  margin-bottom: 20px;
}
p.headInfo {
  margin-top: 0;
}
.failed {
  display: block;
  margin-bottom: 10px;
}
.pageWrap {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
  padding-top: 80px;
  min-height: 85vh;
}
div.header {
  font-weight: normal;
  height: 80px;
  position: fixed;
  width: calc(100% - 65px);
  max-width: 1400px;
  z-index: 99;
  top: 0;
}
.header:after {
  content: '';
  position: fixed;
  z-index: 1;
  left: 0;
  height: 80px;
  background: rgba(255,255,255,.97);
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: all .2s;
}
.header.pageScrolled:after {
  box-shadow: 0 5px 20px -8px rgba(0,0,0,.12);
  transition: all .2s;
}
.logoWrap {
  float: left;
  text-align: left;
  position: relative;
  z-index: 9;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logoWrap a:hover, .logoWrap a:hover {
  text-decoration: none !important;
}
.logoWrap a font {
  color: #000;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
#logo a {
  display: block;
}
.topUtil {
  position: absolute;
  z-index: 9;
  width: 100%;
  max-width: 1400px;
  text-align: right;
}
.topUtil, .topUtil font {
  color: #000 !important;
  font-size: 15px;
}
.topNav {
  float: right;
  text-align: right;
  width: 75%;
  padding-top: 40px;
  position: relative;
  z-index: 9;
}
.mobileTrig {
  display: none;
}
ul.nav {
  text-align: right;
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.rightNav {
  margin-left: 25px !important;
}
ul.nav li {
  text-align: right;
  display: inline-block;
  position: relative;
  margin: 0 20px;
}
ul.nav li:last-child {
  margin-right: 0;
}
ul.nav li a {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none !important
}
ul.nav li a:after {
  content: '';
  height: 1px;
  width: 0;
  opacity: 0;
  background: #ff3333;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width .2s, opacity 0s;
  transition-delay: 0s, .2s;
}
ul.nav li.cartNav a:after, .advancedSearchLink:after {
  display: none !important;
}
ul.nav li a:hover:after {
  width: 100%;
  opacity: 1;
  transition: width .2s;
}
.navLoginWrap {
  position: absolute;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  right: 0;
  width: 200px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 5px 25px -5px rgba(0,0,0, .15);
  margin-top: 10px;
  z-index: 999;
  transition: opacity .2s, visibility 0s;
  transition-delay: 0s, .2s;
}
.navLoginWrap.showLogin {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s, visibility 0s;
}
.navLoginWrap form {
  margin-bottom: 0;
}
.memberLoginWrap label {
  display: block;
  color: #999;
  font-size: 12px;
}
.memberLoginWrap h6 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.memberLoginWrap input:not([type='submit']) {
  height: 40px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}
.memberLoginWrap input:not([type='submit']):focus {
  border: 1px solid #000;
  outline: none !important;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .4);
}
.memberLoginWrap input[type='submit'] {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  background: #000;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s;
}
.memberLoginWrap input[type='submit']:hover {
  background: #777;
  transition: all .2s;
}
.memberLoginWrap a {
  float: left;
  font-size: 12px !important;
  letter-spacing: 0 !important;
  margin: 5px 0;
}
.memberLoginWrap a:after {
  display: none !important;
}
.cart i {
  font-size: 22px;
}
.loginNav {
  cursor: pointer;
}
ul.nav li.searchNav, ul.nav li.cartNav {
  margin-left: 10px;
  color: #000;
}
.searchNav i, .cartNav i {
  cursor: pointer;
}
.loginNav i, .searchNav i {
  color: #000;
  font-size: 20px;
  height: 20px;
  width: 20px;
  display: block;
  transition: color .2s;
}
.searchNav i:hover, .loginNav i:hover {
  color: #ff3333;
  transition: color .2s;
}
.searchNav.searchOpen i:before, .loginNav.loginOpen i:before {
  content: "\f00d";
}
.searchWrap {
  position: absolute;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  right: 0;
  width: 300px;
  padding: 20px;
  height: 65px;
  background: #fff;
  box-shadow: 0 5px 25px -5px rgba(0,0,0, .15);
  margin-top: 10px;
  z-index: 999;
  transition: opacity .2s, visibility 0s;
  transition-delay: 0s, .2s;
}
.searchWrap.showSearch {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s, visibility 0s;
}
.searchBar {
  clear: both;
}
.searchBar b, .searchBar font {
  display: none;
}
.searchWrap label {
  color: #999;
  font-size: 12px;
  margin-top: -7px;
  float: left;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
}
.searchBar input[name='productname'] {
  float: left;
  padding: 5px;
  font-size: 15px;
  width: 78%;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}
.searchBar input[name='productname']:focus {
  border: 1px solid #000;
  outline: none !important;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .4);
}
.searchBar input[type='submit'] {
  -webkit-appearance: none;
  width: 20%;
  height: 40px;
  margin-left: 2%;
  border: none;
  background: #000;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s;
}
.searchBar input[type='submit']:hover {
  background: #777;
  transition: all .2s;
}
#totalshopitems {
  position: absolute;
  background: #ddd;
  border-radius: 50px;
  height: 20px;
  min-width: 20px;
  text-align: center;
  font-size: 11px;
  margin-top: -10px;
  color: #000;
  margin-left: -3px;
  border: 2px solid #fff;
  line-height: 20px;
}
.mainContent {
  padding-top: 30px;
}
.topHero {
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
}
.topHero .heroBackground {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: right !IMPORTANT;
}
.topHero .heroContent {
  width: 50%;
  max-width: 600px;
  margin-top: -40px;
  position: relative;
  z-index: 10;
}
.topHero h1 {
  font-size: 64px;
  line-height: 70px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  color: #000;
}
.topHero h2 {
  font-size: 18px;
  line-height: 28px;
  color: #777;
  font-weight: 500;
}
.mobileSidebarTrig {
  display: none;
}
.sideBarContent{
  float: left;
  width: 17%;
  margin-right: 3%;
}
.sideBarContent h3 {
  margin-top: 0;
  text-transform: uppercase;
}
.sideBarContent .memberLoginWrap {
  display: none;
}
.largeContentArea {
  float: left;
  width: 80%;
}
.pageCategory {
  float: left;
}
.topPagination {
  float: right;
}
.bottomPagination {
  float: right;
  clear: both;
}
.topPagination a, .bottomPagination a {
  text-decoration: none !important;
}
.topPagination a[title="Go to Next Page"] img, .bottomPagination a[title="Go to Next Page"] img, .topPagination a[title="Go to Previous Page"] img, .bottomPagination a[title="Go to Previous Page"] img {
  display: none;
}
.topPagination a[title="Go to Next Page"], .bottomPagination a[title="Go to Next Page"] {
  padding-left: 20px;
}
.topPagination a[title="Go to Next Page"]:after, .bottomPagination a[title="Go to Next Page"]:after {
  content: "\f0da";
  font-family: FontAwesome;
  color: #000;
  font-size: 40px;
  margin-left: -15px;
  position: absolute;
  margin-top: -11px;
  transition: color .2s;
}
.topPagination a[title="Go to Previous Page"], .bottomPagination a[title="Go to Previous Page"] {
  padding-right: 20px;
}
.topPagination a[title="Go to Previous Page"]:before, .bottomPagination a[title="Go to Previous Page"]:before {
  content: "\f0d9";
  font-family: FontAwesome;
  color: #000;
  font-size: 40px;
  margin-right: -15px;
  position: absolute;
  margin-top: -11px;
  transition: color .2s;
}
.topPagination a[title*="Go to Page"], .bottomPagination a[title*="Go to Page"] {
  color: #000;
  text-decoration: none !important;
}
.topPagination a.currentpage, .bottomPagination a.currentpage {
  color: #fff !important;
  background: #000 !important;
  display: inline-block;
  padding: 0 3px;
}
.topPagination a[title="Go to Next Page"]:hover:after, .bottomPagination a[title="Go to Next Page"]:hover:after, .topPagination a[title="Go to Previous Page"]:hover:before, .bottomPagination a[title="Go to Previous Page"]:hover:before {
  color: #ff3333 !important;
  text-decoration: none !important;
  transition: color .2s ;
}
.productGrid {
  clear: both;
  float: left;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productGrid:after {
  content: '';
  flex-basis: 30%;
}
.productWrap {
  width: 30%;
  margin-bottom: 50px;
  /*box-shadow: 0 8px 25px -10px rgba(0,0,0,.15);*/
}
.productThumb {
  height: 20vw;
  overflow: hidden;
}
.productThumb img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  max-height: 350px;
  transition: transform .3s;
}
.productThumb:hover img {
  transform: scale(1.12);
  transition: all .3s;
}
.productThumb:hover + .productTileInfo a {
  color: #ff3333;
  transition: all .3s;
}
.productTileInfo h3 a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.productTileInfo h3 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 5px;
}
.sideBarContent img[src*="plus"] {
  width: 19px;
  opacity: 0;
}
.sideBarContent .parent, .sideBarContent a {
  font-size: 15px;
  padding-bottom: 7px;
}
.sideBarContent .parent a img, .sideBarContent .parent img, .sideBarContent .child img {
  display: none;
}
.sideBarContent .parent a:first-child:before {
  content: "\f067";
  font-family: FontAwesome;
  color: #000;
  font-size: 18px;
  margin-right: 5px;
  transition: color .2s;
}
.sideBarContent .parent a.exp:first-child:before {
  content: "\f068";
}
.sideBarContent .parent a:hover, .sideBarContent .parent a:hover:before {
  color: #ff3333;
  text-decoration: none !important;
  transition: color .2s;
}
.sideBarContent .child a {
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: 13px;
  display: block;
  text-decoration: none !important;
}
.sideBarContent .child br {
  display: none;
}
.newsLetterWrap {
  margin-top: 40px;
}
input.newsEmail {
  float: left;
  padding: 5px;
  font-size: 15px;
  width: 100%;
  height: 40px;
  margin-bottom: 7px;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}
input.newsEmail:focus {
  border: 1px solid #000;
  outline: none !important;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .4);
}
.newsLetterWrap input[type='button'] {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  border: none;
  background: #000;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s;
}
.newsLetterWrap h3 {
  margin-bottom: 5px;
}
.newsLetterWrap p {
  margin-top: 0;
}
.footerWrap {
  padding: 10px 0;
  background: #f4f4f4;
  width: 100%;
}
.footerWrap{
  background: #f4f4f4;
  width: 100%;
  margin-top: 20px;
  float: left;
  clear: both;
}
.footerInsideWrap {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
  width: calc(100% - 60px);
}
.copyTxt {
  float: left;
  font-size: 11px;
  opacity: .65;
  margin-top: 10px;
}
.rightFootLinks {
  float: right;
  text-align: right;
  margin-top: -25px;
}
.footerLinksWrap {
  margin-bottom: 8px;
}
a.footLink {
  margin-right: 20px;
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .25px;
  font-weight: 600;
}
a.footLink:hover, .legalLinks a:hover {
    color: #ff3333;
}
.footerSocial {
    margin-bottom: 15px;
}
.footerSocial a {
  font-size: 22px;
  margin-right: 15px;
}
.legalLinks a {
  margin-right: 15px;
  color: #888;
}
.footerSocial a:last-child, .legalLinks a:last-child {
  margin-right: 0;
}
.announcement {
  position: relative;
  z-index: 999;
  top: 0;
  margin-left: -35px;
  overflow: hidden;
  color: #fff;
  background: #000;
  min-height: 0;
  width: calc(100% + 70px);
}
.newsInnerWrap {
  padding: 5px;
}
.newsInnerWrap:before {
  content: '';
  position: fixed;
  left: 0;
  background: #000;
  height: 30px;
  width: 100%;
  top: 0;
  z-index: 0;
}
.newsTxt {
  position: relative;
}
.newsTxt p {
  margin: 0;
}
h2.pageHead {
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
  color: #000;
}
.shopLogFormWrap {
  display: flex;
  max-width: 760px;
  padding: 40px;
  margin-top: 20px;
  box-shadow: 0 0 30px -10px rgba(0,0,0,.2);
}
.acctLogOuter {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 3%;
}
.acctLoginWrap {
  display: flex;
  position: relative;
  padding: 40px;
  box-shadow: 0 0 30px -10px rgba(0,0,0,.2);
  width: 300px;
  margin: 0 auto;
}
.acctLoginWrap h5, .shopLogFormWrap h5 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.acctLoginWrap h5 {
  margin-bottom: 10px;
}
.acctLoginWrap input, .shopLogFormWrap input {
  margin-bottom: 10px;
  width: 100%;
}
.acctLoginWrap input[type="submit"], .shopLogFormWrap input[type="submit"] {
  margin-top: 10px;
}
.disclaimerBox {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 11px;
  font-style: italic;
  font-weight: 600;
  line-height: 14px;
  color: #888;
  float: left;
  clear: both;
}
.existingForm {
  width: 44%;
  float: left;
  margin-right: 6%;
}
.newcustForm {
  float: left;
  width: 44%;
  margin-left: 6%;
}
.forgotPW {
  margin-top: 10px;
  float: left;
  font-weight: 600;
  text-transform: none !important;
}
.phoneWrap {
  font-size: 20px;
}
.phoneWrap strong {
  font-size: 15px;
  display: block;
  line-height: 10px;
}
.addressInfoWrap {
  margin-top: 25px;
}
.contactWrap h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 10px;
}
.contactWrap h4, .contactWrap h6 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
}
.contactWrap h6 {
  font-size: 16px;
}
.productTileInfo {
  text-align: center;
}
.buyBtnWrap {
  margin-top: 5px;
  float: left;
  text-align: center;
  width: 100%;
}
.buyBtnWrap a {
  display: block;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff !important;
  background: #000;
  padding: 15px;
  margin-bottom: 20px;
  transition: all .2s;
  width: 220px;
  margin-top: 10px;
}
.productTileInfo .buyBtnWrap a {
  float: none;
  width: 150px;
  margin: 0 auto;
  border: 2px solid #000;
  background: transparent;
  color: #000 !important;
  font-weight: 600;
}
.buyBtnWrap a:after {
  content: 'Add to Cart';
}
.buyBtnWrap a:hover {
  background: #777;
  transition: all .2s;
}
.productTileInfo .buyBtnWrap a:hover {
  background: #000;
  color: #fff !important;
}
.buyBtnWrap a img {
  display: none;
}
p.tilePrice {
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
p.tilePrice del {
  margin-right: 8px;
}
.productImageWrap {
  float: left;
  width: 40%;
  margin-right: 5%;
}
.productInfoWrap {
  float: left;
  width: 55%;
  max-width: 500px;
}
.productImageWrap .mainImg img {
  width: 100%;
}
.detailCategory {
  margin-bottom: 20px;
}
.productSKU span {
  display: block;
}
.smallThumbs {
  float: left;
  margin-top: 10px;
  clear: both;
}
.productName {
  font-size: 24px;
  margin-top: 0;
  color: #000;
  margin-bottom: 5px;
}
.productSKU {
  font-weight: 600;
}
.productSKU span {
  font-weight: 400;
}
.productDetailWrap p.tilePrice {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
  margin-bottom: 15px;
}
.productDesWrap p {
  margin-top: 5px;
}
.productDesWrap h6 {
  font-size: 12px;
  margin: 0;
}
.emailFriend {
  float: left;
  clear: both;
  margin-top: 20px;
}
#id_emailarea table {
  background: #f7f7f7;
  padding: 20px;
}
.advancedFormWrap {
  float: left;
  width: calc(44% - 80px);
  margin-right: 6%;
  position: relative;
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 0 0 30px -10px rgba(0,0,0,.2);
}
.searchInstructions {
  float: left;
  width: 44%;
  margin-right: 6%;
}
.leftFormWrap {
  float: left;
  margin-right: 2%;
  width: 49%;
}
.rightFormWrap {
  float: left;
  width: 49%;
}
.outerRadiosWrap {
  clear: both;
}
.advancedFormWrap input:not([type='radio']) {
  width: 100%;
  margin-bottom: 15px;
}
.advancedFormWrap input[type='submit'] {
  clear: both;
  margin-top: 20px;
  float: left;
  margin-bottom: 0;
}
.advancedFormWrap select {
  width: 100%;
  margin-bottom: 15px;
}
.searchInstructions h4 {
  font-size: 17px;
  margin: 0;
}
.searchInstructions h5 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 0;
  margin-top: 20px;
}
.newCustomerFormWrap {
  display: flex;
  max-width: 800px;
  padding: 40px;
  box-shadow: 0 0 30px -10px rgba(0,0,0,.2);
}
.newCustomerFormWrap input:not([type="submit"]), .newCustomerFormWrap select {
  width: 100%;
  margin-bottom: 10px;
}
.newCustBillWrap {
  width: 44%;
  float: left;
  margin-right: 6%;
}
.newCustShipWrap {
  float: left;
  width: 44%;
  margin-left: 6%;
}
.stateDropWrap {
  width: 48%;
  margin-right: 2%;
  float: left;
}
.otherStateWrap {
  width: 48%;
  margin-left: 2%;
  float: left;
}
.newCustEmailWrap, .newCustPwWrap {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.newCustEmailWrap input, .newCustEmailWrap select, .newCustPwWrap input {
  width: 44% !important;
}
.submitWrap {
  width: 44%;
  margin-top: 10px;
  float: left;
}
.newCustSubmit {
  width: 100%;
}
.newCustClear {
  margin: 0 auto;
  clear: both;
  margin-top: 10px;
  width: 150px;
  background: transparent !important;
  border: 2px solid #000 !important;
  color: #000 !important;
  font-weight: 600;
}
.newCustClear:hover {
  background: #999 !important;
  border-color: #999 !important;
  color: #fff !important;
}
#lightslider {
  overflow: hidden;
  max-height: 440px;
}
li.lslide a {
  float: left;
  transition: all .2s;
}
li.lslide a:hover {
  opacity: .7;
  transition: all .2s;
}
li.lslide img {
  max-width: 100%;
  max-height: 440px;
  object-fit: cover;
}
.productImageWrap .lSPager.lSGallery {
  width: 100% !important;
}
.lSSlideOuter .lSPager.lSGallery li {
  height: 70px;
  width: 70px !important;
  border: 1px solid #ccc;
  border-radius: 0 !important;
  margin-bottom: 5px;
  transition: all .2s;
}
.lSSlideOuter .lSPager.lSGallery li.active {
  border-color: #000;
}
.lSSlideOuter .lSPager.lSGallery li:hover {
  border-color: #777;
  transition: all .2s;
}
.continueShopBtn {
  width: 200px;
}
.cartWrap {
  float: left;
  width: 100%;
  max-width: 960px;
}
h3.emptyCart {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  margin-top: 60px;
}
.continueShopWithCartItms {
    float: left;
}
.continueShopWithCartItms .continueShopBtn {
  color: #000 !important;
  border: 2px solid #000;
  background: transparent;
  width: 150px;
  height: 36px;
  padding: 0;
  margin-right: 10px;
}
.continueShopWithCartItms .continueShopBtn:hover {
  color: #fff !important;
  border: 2px solid #000;
  background: #000;
}
.cartInstruction {
  float: left;
  width: 100%;
  margin-top: 20px;
}
input[name="updatecart"] {
  float: left;
  margin-right: 10px;
}
.cartWrap input[name="checkout"] {
  width: 100%;
}
.cartTable > tbody > tr > td:last-child {
  font-size: 15px;
}
.cartInstruction p {
  font-size: 13px;
  line-height: 18px;
}
p.welcomeTxt {
  margin-top: 0;
}
.logoutBtn {
  border: 2px solid #000;
  padding: 5px 25px;
  transition: all .2s;
}
.logoutBtn:hover {
  background: #000;
  color: #fff;
  transition: all .2s;
}
.trackignWrap [bgcolor="#4959A7"] > td, .trackignWrap [bgcolor="#4279bd"] > td {
  padding: 5px;
}
.trackignWrap h2 {
  margin-bottom: 0;
}


/***** Responsive CSS *****/
@media only screen and (max-width: 1000px) {
  .pageWrap {
    max-width: 100%;
    padding: 0 15px;
    padding-top: 60px;
  }
  div.header, .header:after {
    height: 60px;
  }
  .logoWrap {
    width: 50%;
  }
  .logoWrap a, .logoWrap a font {
    font-size: 10px;
  }
  .topNav {
    position: fixed;
    right: 5px;
    top: 20px;
    width: 50%
  }
  .mainNav {
    position: fixed;
    right: -100%;
    background: #fff;
    padding: 20px !important;
    box-shadow: -10px 20px 25px -12px rgba(0,0,0, .15);
    transition: right .3s;
  }
  .mainNav.navOut {
    right: 0;
    transition: right .3s;
  }
  .nav.mainNav li {
    margin-right: 0;
    display: block;
    padding-bottom: 20px;
  }
  .nav.mainNav li:last-child {
    padding-bottom: 0;
  }
  ul.nav li a:after {
    display: none;
  }
  .nav.mainNav li a {
    font-size: 16px;
  }
  .rightNav {
    position: fixed;
    top: 30px;
    right: 70px;
  }
  .mobileTrig {
    display: flex;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    right: 10px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .mobileTrig span {
    width: 100%;
    height: 2px;
    background: #000;
    right: 5px;
    display: block;
  }
  .mobileTrig span:last-child {
    width: 70%;
  }
  .topUtil {
    width: 100% !important;
    position: fixed;
    left: 0px;
  }
  .topUtil font {
    margin-right: 15px;
    font-size: 13px;
  }
  .searchWrap {
    right: 0 !important;
    position: fixed;
  }
  .navLoginWrap {
    position: fixed;
  }
  .sideBarContent {
    width: 100%;
    margin-bottom: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
  }
  .sideBarContent.sideOut {
    height: auto;
    transition: max-height .3s;
    max-height: 1000px;
    overflow: auto;
  }
  .largeContentArea {
    width: 100%;
  }
  .topHero {
    height: auto;
    display: block;
  }
  .topHero .heroBackground {
    position: relative;
    height: 200px;
  }
  .topHero h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .topHero .heroContent {
    width: 100%;
    margin-top: 0;
  }
  .rightFootLinks {
    float: none;
    margin-top: 0;
    text-align: center;
  }
  .footerInsideWrap {
    max-width: 100%;
    padding: 0 15px;
    width: calc(100% - 30px);
  }
  .footerLinksWrap {
    text-align: center;
  }
  a.footLink {
    display: inline-block;
    margin: 10px;
  }
  .copyTxt {
    text-align: center;
    margin-left: -15px;
    width: calc(100% + 30px);
    margin-top: 20px;
  }
  .mobileSidebarTrig {
    font-size: 20px;
    color: #fff;
    background: #000;
    float: left;
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }
  .topPagination, .bottomPagination {
    float: left;
    clear: both;
    margin-top: 5px;
    width: 100%;
  }
  .productWrap {
    width: 47%;
  }
  .productImageWrap {
    width: 100%;
  }
  .productInfoWrap {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .acctLoginWrap {
    width: 250px;
  }
  .existingForm {
    width: 100%;
    margin-right: 0;
  }
  .newcustForm {
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
  }
  .newCustBillWrap {
    width: 100%;
    margin-right: 0;
  }
  .newCustShipWrap {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
  .newCustEmailWrap input, .newCustEmailWrap select, .newCustPwWrap input {
    width: 100% !important;
  }
  .submitWrap {
    width: 100%;
  }

}
