/***** Main CSS *****/

body {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
a {
  color: #000;
  transition: all .2s;
}
a:hover {
  text-decoration: none !important;
  transition: all .2s;
}
input[type='text'], input[type='email'], input[type='password'], input[type='search'], input[type='tel'] {
  float: left;
  padding: 5px;
  font-size: 15px;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}
input[type='text']:focus, input[type='email']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus {
  border: 1px solid #000;
  outline: none !important;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .4);
}
input[type='submit'] {
  -webkit-appearance: none;
  height: 40px;
  padding: 5px 15px;
  font-size: 12px;
  border: none;
  background: #000;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s;
}
input[type='submit']:hover {
  background: #777;
  transition: all .2s;
}
.pageWrap {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
  padding-top: 80px;
  min-height: 85vh;
}
div.header {
  font-weight: normal;
  height: 80px;
  position: fixed;
  width: calc(100% - 65px);
  max-width: 1400px;
  z-index: 99;
  top: 0;
}
.header:after {
  content: '';
  position: fixed;
  z-index: 1;
  left: 0;
  height: 80px;
  background: rgba(255,255,255,.97);
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: all .2s;
}
.header.pageScrolled:after {
  box-shadow: 0 5px 20px -8px rgba(0,0,0,.12);
  transition: all .2s;
}
.logoWrap {
  float: left;
  text-align: left;
  position: relative;
  z-index: 9;
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logoWrap a:hover, .logoWrap a:hover {
  text-decoration: none !important;
}
.logoWrap a font {
  color: #000;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
#logo a {
  display: block;
}
.topUtil {
  position: absolute;
  z-index: 9;
  width: 100%;
  max-width: 1400px;
  text-align: right;
}
.topUtil, .topUtil font {
  color: #000 !important;
  font-size: 15px;
}
.topNav {
  float: right;
  text-align: right;
  width: 75%;
  padding-top: 40px;
  position: relative;
  z-index: 9;
}
ul.nav {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.nav li {
  text-align: right;
  display: inline-block;
  position: relative;
  margin: 0 20px;
}
ul.nav li:last-child {
  margin-right: 0;
}
ul.nav li a {
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none !important
}
ul.nav li a:after {
  content: '';
  height: 1px;
  width: 0;
  opacity: 0;
  background: #ff3333;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width .2s, opacity 0s;
  transition-delay: 0s, .2s;
}
ul.nav li.cartNav a:after, .advancedSearchLink:after {
  display: none !important;
}
ul.nav li a:hover:after {
  width: 100%;
  opacity: 1;
  transition: width .2s;
}
.navLoginWrap {
  position: absolute;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  right: 0;
  width: 200px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 5px 25px -5px rgba(0,0,0, .15);
  margin-top: 10px;
  z-index: 999;
  transition: opacity .2s, visibility 0s;
  transition-delay: 0s, .2s;
}
.navLoginWrap.showLogin {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s, visibility 0s;
}
.navLoginWrap form {
  margin-bottom: 0;
}
.memberLoginWrap label {
  display: block;
  color: #999;
  font-size: 12px;
  letter-spacing: .5px;
  font-weight: 600;
  text-transform: uppercase;
}
.memberLoginWrap h6 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.memberLoginWrap input:not([type='submit']) {
  height: 40px;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}
.memberLoginWrap input:not([type='submit']):focus {
  border: 1px solid #000;
  outline: none !important;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .4);
}
.memberLoginWrap input[type='submit'] {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  background: #000;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s;
}
.memberLoginWrap input[type='submit']:hover {
  background: #777;
  transition: all .2s;
}
.memberLoginWrap a {
  float: left;
  font-size: 12px !important;
  letter-spacing: 0 !important;
  margin: 5px 0;
}
.memberLoginWrap a:after {
  display: none !important;
}
.cart i {
  font-size: 22px;
}
.loginNav {
  cursor: pointer;
}
ul.nav li.searchNav, ul.nav li.cartNav {
  margin-left: 10px;
  color: #000;
}
.searchNav i, .cartNav i {
  cursor: pointer;
}
.loginNav i, .searchNav i {
  color: #000;
  font-size: 20px;
  height: 20px;
  width: 20px;
  display: block;
  transition: color .2s;
}
.searchNav i:hover, .loginNav i:hover {
  color: #ff3333;
  transition: color .2s;
}
.searchNav.searchOpen i:before, .loginNav.loginOpen i:before {
  content: "\f00d";
}
.searchWrap {
  position: absolute;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  right: 0;
  width: 300px;
  padding: 20px;
  height: 65px;
  background: #fff;
  box-shadow: 0 5px 25px -5px rgba(0,0,0, .15);
  margin-top: 10px;
  z-index: 999;
  transition: opacity .2s, visibility 0s;
  transition-delay: 0s, .2s;
}
.searchWrap.showSearch {
  visibility: visible;
  opacity: 1;
  transition: opacity .2s, visibility 0s;
}
.searchBar {
  clear: both;
}
.searchBar b, .searchBar font {
  display: none;
}
.searchWrap label {
  color: #999;
  font-size: 12px;
  margin-top: -7px;
  float: left;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .5px;
}
.searchBar input[name='productname'] {
  float: left;
  padding: 5px;
  font-size: 15px;
  width: 78%;
  height: 40px;
  margin-bottom: 5px;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}
.searchBar input[name='productname']:focus {
  border: 1px solid #000;
  outline: none !important;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .4);
}
.searchBar input[type='submit'] {
  -webkit-appearance: none;
  width: 20%;
  height: 40px;
  margin-left: 2%;
  border: none;
  background: #000;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s;
}
.searchBar input[type='submit']:hover {
  background: #777;
  transition: all .2s;
}
#totalshopitems {
  position: absolute;
  background: #ddd;
  border-radius: 50px;
  height: 20px;
  min-width: 20px;
  text-align: center;
  font-size: 11px;
  margin-top: -10px;
  color: #000;
  margin-left: -3px;
  border: 2px solid #fff;
  line-height: 20px;
}
.mainContent {
  padding-top: 30px;
}
.topHero {
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: right !IMPORTANT;
  position: relative;
  display: flex;
  align-items: center;
}
.topHero .heroContent {
  width: 50%;
  max-width: 600px;
  margin-top: -40px;
}
.topHero h1 {
  font-size: 64px;
  line-height: 70px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  color: #000;
}
.topHero h2 {
  font-size: 18px;
  line-height: 28px;
  color: #777;
  font-weight: 500;
}
.sideBarContent{
  float: left;
  width: 17%;
  margin-right: 3%;
}
.sideBarContent h3 {
  margin-top: 0;
  text-transform: uppercase;
}
.largeContentArea {
  float: left;
  width: 80%;
}
.pageCategory {
  float: left;
}
.topPagination {
  float: right;
}
.bottomPagination {
  float: right;
  clear: both;
}
.topPagination a, .bottomPagination a {
  text-decoration: none !important;
}
.topPagination a[title="Go to Next Page"] img, .bottomPagination a[title="Go to Next Page"] img, .topPagination a[title="Go to Previous Page"] img, .bottomPagination a[title="Go to Previous Page"] img {
  display: none;
}
.topPagination a[title="Go to Next Page"], .bottomPagination a[title="Go to Next Page"] {
  padding-left: 20px;
}
.topPagination a[title="Go to Next Page"]:after, .bottomPagination a[title="Go to Next Page"]:after {
  content: "\f0da";
  font-family: FontAwesome;
  color: #000;
  font-size: 40px;
  margin-left: -15px;
  position: absolute;
  margin-top: -11px;
  transition: color .2s;
}
.topPagination a[title="Go to Previous Page"], .bottomPagination a[title="Go to Previous Page"] {
  padding-right: 20px;
}
.topPagination a[title="Go to Previous Page"]:before, .bottomPagination a[title="Go to Previous Page"]:before {
  content: "\f0d9";
  font-family: FontAwesome;
  color: #000;
  font-size: 40px;
  margin-right: -15px;
  position: absolute;
  margin-top: -11px;
  transition: color .2s;
}
.topPagination a[title*="Go to Page"], .bottomPagination a[title*="Go to Page"] {
  color: #000;
  text-decoration: none !important;
}
.topPagination a.currentpage, .bottomPagination a.currentpage {
  color: #fff !important;
  background: #000 !important;
  display: inline-block;
  padding: 0 3px;
}
.topPagination a[title="Go to Next Page"]:hover:after, .bottomPagination a[title="Go to Next Page"]:hover:after, .topPagination a[title="Go to Previous Page"]:hover:before, .bottomPagination a[title="Go to Previous Page"]:hover:before {
  color: #ff3333 !important;
  text-decoration: none !important;
  transition: color .2s ;
}
.productGrid {
  clear: both;
  float: left;
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productGrid:after {
  content: '';
  flex-basis: 30%;
}
.productWrap {
  width: 30%;
  margin-bottom: 40px;
  /*box-shadow: 0 8px 25px -10px rgba(0,0,0,.15);*/
}
.productThumb {
  overflow: hidden;
}
.productThumb img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  max-height: 350px;
  transition: transform .3s;
}
.productThumb:hover img {
  transform: scale(1.12);
  transition: all .3s;
}
.productThumb:hover + .productTileInfo a {
  color: #ff3333;
  transition: all .3s;
}
.productTileInfo a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.sideBarContent .parent {
  font-size: 15px;
  padding-bottom: 10px;
}
.sidebarContent .parent a img, .sidebarContent .parent img, .sidebarContent .child img {
  display: none;
}
.sidebarContent .parent a:first-child:before {
  content: "\f067";
  font-family: FontAwesome;
  color: #000;
  font-size: 18px;
  margin-right: 5px;
  transition: color .2s;
}
.sidebarContent .parent a.exp:first-child:before {
  content: "\f068";
}
.sidebarContent .parent a:hover, .sidebarContent .parent a:hover:before {
  color: #ff3333;
  text-decoration: none !important;
  transition: color .2s;
}
.sidebarContent .child a {
  padding-left: 20px;
  padding-bottom: 5px;
  display: block;
  text-decoration: none !important;
}
.sidebarContent .child br {
  display: none;
}
.newsLetterWrap {
  margin-top: 40px;
}
input.newsEmail {
  float: left;
  padding: 5px;
  font-size: 15px;
  width: 100%;
  height: 40px;
  margin-bottom: 7px;
  border: 1px solid #aaa;
  -webkit-appearance: none;
}
input.newsEmail:focus {
  border: 1px solid #000;
  outline: none !important;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, .4);
}
.newsLetterWrap input[type='button'] {
  -webkit-appearance: none;
  width: 100%;
  height: 40px;
  border: none;
  background: #000;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  transition: all .2s;
}
.newsLetterWrap h3 {
  margin-bottom: 5px;
}
.newsLetterWrap p {
  margin-top: 0;
}
.footerWrap {
  padding: 10px 0;
  background: #f4f4f4;
  width: 100%;
}
.footerWrap{
  background: #f4f4f4;
  width: 100%;
  margin-top: 20px;
  float: left;
  clear: both;
}
.footerInsideWrap {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
  width: calc(100% - 60px);
}
.copyTxt {
  float: left;
  font-size: 11px;
  opacity: .65;
  margin-top: 10px;
}
.rightFootLinks {
  float: right;
  text-align: right;
  margin-top: -25px;
}
.footerLinksWrap {
  margin-bottom: 8px;
}
a.footLink {
  margin-right: 20px;
  color: #777;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .25px;
  font-weight: 600;
}
a.footLink:hover, .legalLinks a:hover {
    color: #ff3333;
}
.footerSocial {
    margin-bottom: 15px;
}
.footerSocial a {
  font-size: 22px;
  margin-right: 15px;
}
.legalLinks a {
  margin-right: 15px;
  color: #888;
}
.footerSocial a:last-child, .legalLinks a:last-child {
  margin-right: 0;
}
.announcement {
  position: relative;
  z-index: 999;
  top: 0;
  margin-left: -35px;
  overflow: hidden;
  color: #fff;
  background: #000;
  min-height: 0;
  width: calc(100% + 70px);
}
.newsInnerWrap {
  padding: 5px;
}
.newsInnerWrap:before {
  content: '';
  position: fixed;
  left: 0;
  background: #000;
  height: 30px;
  width: 100%;
  top: 0;
  z-index: 0;
}
.newsTxt {
  position: relative;
}
.newsTxt p {
  margin: 0;
}


/***** Responsive CSS *****/
@media only screen and (max-width: 1000px) {


}
